@tailwind base;
@tailwind components;
@tailwind utilities;

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #0f0f10;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Custom Hero Slider Animations */
@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

.slide-in {
  animation: slideIn 0.6s ease forwards;
  z-index: 10;
}

.slide-out {
  animation: slideOut 0.6s ease forwards;
  z-index: 0;
}

:root {
  --fill-available: -webkit-fill-available;
  height: 100%;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


/* tailwind.css or global.css */
@keyframes modalDrop {
  0% { opacity: 0; transform: translateY(-10px) scale(0.97); }
  100% { opacity: 1; transform: translateY(0) scale(1); }
}

@keyframes modalFadeOut {
  0% { opacity: 1; transform: translateY(0) scale(1); }
  100% { opacity: 0; transform: translateY(-10px) scale(0.97); }
}

.animate-modalDrop {
  animation: modalDrop 0.5s ease-out forwards;
}

.animate-modalFadeOut {
  animation: modalFadeOut 0.5s ease-in forwards;
}

/* Backdrop fade */
@keyframes backdropFadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes backdropFadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

.animate-backdropIn {
  animation: backdropFadeIn 0.5s ease-out forwards;
}

.animate-backdropOut {
  animation: backdropFadeOut 0.5s ease-in forwards;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}

